.navbar-nav>li>a {
    color: #000;
    font-family: 'Macondo Swash Caps', cursive;
    font-weight: bolder;
    font-size: 20px;
    padding: 0px 5px;
}

.navbar-nav>li>ul>li>a {
    color: #000;
    font-family: 'Macondo Swash Caps', cursive;
    font-weight: bolder;
    font-size: 20px;
    padding: 0px 5px
}

.navbar-toggle:focus,
.navbar-toggle:hover {
    background-color: #fff
}
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover {
    color: #000;
    background-color: grey
}

.navbar-toggle .icon-bar {
    background-color: #000
}

.navbar-toggle {
    border-color: #fff
}