<nav class="navbar navbar-inverse header-background">
    <div class="container-fluid">
        <div class="navbar-header"><button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button"><span 
                    class="icon-bar"></span><span  class="icon-bar"></span><span 
                    class="icon-bar"></span></button>
            <a class="navbar-brand" href="/home"><img height="40px" src="images/transparent.png" width="50px"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a routerlink="/home" href="/home">Home</a></li>
                <li><a routerlink="/about" href="/about">About</a></li>
                <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Events <span  class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a routerlink="/durgotsav" href="/durgotsav">Durgotsav</a>
                        </li>
                        <li><a routerlink="/aayna" href="/aayna">TBFF Aayna</a></li>
                        <li><a routerlink="/picnic" href="/picnic">Annual Picnic</a>
                        </li>
                        <li><a routerlink="/smile" href="/smile">Utsab Smile</a></li>
                        <li><a routerlink="/newyear" href="/newyear">Poila Boisakh</a>
                        </li>
                        <li><a routerlink="/spuja" href="/spuja">Sarswati Puja</a>
                        </li>
                    </ul>
                </li> -->
                <li><a routerlink="/durgotsav2023" href="/durgotsav2025" style="color: red">Durgotsav 2025</a></li>
                <li><a href="https://docs.google.com/forms/d/1ay8ZcuLwubNMPBDV4h-F8VTTsyUirRV2fuAk7aB9E-g/viewform?edit_requested=true#start=embed" target="_blank">Membership</a></li>
                <!-- <li><a routerlink="/donation" href="/donation" style="color: red">Online Pujo Booking</a></li> -->
                <!-- <li><a routerlink="/gallery" href="/gallery">Gallery</a></li> -->
                <li><a routerlink="/sponsers" href="/sponsers">Sponsors</a></li>
                <li><a routerlink="/contactUs" href="/contactUs">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>