<footer class="container-fluid text-center footer-background">
    <h3 class="heading2"><span class="hidden-mobile">Utsab Cultural Association, Hyderabad ||</span> Follow Us On <span><a 
                href="https://www.facebook.com/utsabculturalassociation/" target="_blank"><img
                    src="images/socialicon/fb.png"></a></span><span><a
                href="https://www.facebook.com/utsabculturalassociation/" target="_blank"><img
                    src="images/socialicon/twitter.png"></a></span></h3>
</footer>