<div class="desc-text text-center">
    <h3 class="heading">Utsab Cultural Association</h3><br>
    <h2 class="heading"><a routerlink="/durgotsav2025" href="/durgotsav2025" style="color: red">Durgotsav 2025</a></h2>
    <div class="middle-text">
        <div class="basic-container">
            <img src="images/banner/mobile_banner.jpg" alt="Durgotsav 2025" class="img-responsive">
            <img src="images/banner/Puja_schedule.jpg" alt="Durgotsav 2025" class="img-responsive">
            <img src="images/banner/Ads_Review.jpg" alt="Durgotsav 2025" class="img-responsive">
            <img src="images/banner/Saptami_Comp.jpg" alt="Durgotsav 2025" class="img-responsive">
            <img src="images/banner/Nabami_Comp.jpg" alt="Durgotsav 2025" class="img-responsive">
        </div>
    </div>
</div>