<div class=" desc-text text-center">
    <h3 class="heading">Utsab Cultural Association</h3><br>
    <div class="middle-text">
        <p> We are Utsab, celebrating life. For the first time in Hyderabad, Utsab has created the concept of a family outbound based cultural forum created by group of like-minded people with the aim to share happiness and experience the joy of friendship
            and harmony through our culture and heritage. Since today’s hectic and demanding world demands offline activities for society and eventually by the society to create a fresh environment away from our daily hustle and bustle of corporate life.
        </p>
        <h3 class="heading2">Executive Committee - The Karta Dharta</h3><br>
        <div class="row">
            <div class="col-sm-3 bkg">
                <img class="member-image" src="images/ecmembers/arijit.jpeg">
                <span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Arijit Sarkar</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">President</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/suman.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Suman Chakraborty</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Vice President</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/krishnendu.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Krishnendu Roy</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Vice President</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/indranil.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Indranil Aditya</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">General Secretary</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/mita.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mrs. Mita Banerjee</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Treasurer</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/sujit.jpeg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Sujit Das</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Joint Treasurer</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/mridul.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Mridul Saha</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Asst. Secretary</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/krishanu.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Krishanu Banerjee</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Asst. Secretary</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/utpal.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Utpal N Das</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Advisor</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/tapas.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Tapas Mathur</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Advisor</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/niloy.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Niloy Dey</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">EC Member</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/moumita.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mrs. Moumita Dasgupta</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">EC Member</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/sulagna.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mrs. Sulagna Das</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">EC Member</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/ankita.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mrs. Ankita Santra</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">EC Member</p>
                </span></div>
            
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/rajarshi.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Rajarshi Das</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">EC Member</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/romil.jpeg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Mr. Romil Dubey</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">EC Member</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/sayantani.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Sayantani Chaterjee</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Cultural Convenor</p>
                </span></div>
            <div class="col-sm-3 bkg"><img class="member-image" src="images/ecmembers/haimanti.jpg"><span class="caption">
                    <p style="color:black;font-weight : bold; display:inline-block">Haimanti Sarkar</p>
                </span><span class="caption">
                    <p style="color:black ; display:inline-block">Finance Consultant</p>
                </span></div>
        </div>
        <button type="button" value="Back"><a routerlink="/home" href="/home">Back to Home Page</a></button>
    </div>
</div>