<div class="desc-text">
    <h3 class="heading">Contact Us</h3><br>
    <div class="row">
        <div class="col-sm-6 pos">
            <iframe frameborder="0" height="350" width="100%" marginwidth="0" scrolling="no"  src="https://www.openstreetmap.org/export/embed.html?bbox=78.34667086601259%2C17.448208302231087%2C78.34964811801912%2C17.450490734180807&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?#map=19/17.449350/78.348159">View Larger Map</a></small>
        </div>
        <div class="col-sm-5">
            <p>Gachibowli Stadium, Gachibowli, Hyderabad, Telangana 500032</p>
            <p>Phone: +91-9014185684</p>
            <p>​E-mail: utsab.hyd&#64;gmail.com</p>
        </div>
    </div>
    <div class="middle-text text-center"><button type="button" value="Back"><a routerlink="/home" href="/home">Back to
                Home Page</a></button></div>
</div>