<div class="desc-text text-center">
    <h3 class="heading">Utsab Cultural Association</h3><br>
    <h2 class="heading"><a routerLink="/durgotsav2025" href="/durgotsav2025" style="color: red">Durgotsav 2025</a></h2>
    <div class="middle-text">
        <div class="basic-container">
            <img src="images/mobile/bijoymob.jpeg" class="d-block w-100" style="height: 600px;" alt="banner_main">
            <img src="images/banner/pujaend.jpeg" class="d-block w-100" style="height: 600px;" alt="banner_main">

        </div>
    </div>
</div>