<div class="container">
    <div class="d-none d-md-block" >
        <app-laptop></app-laptop>
    </div>
    <div class="main-text">
        <div class="marquee-position">
            <marquee behavior="scroll" direction="left" height="100%" scrollamount="8" width="100%">
                <a class="marquee" href="https://www.facebook.com/events/2738879223107241/" target="_blank">
                    Please Click to visit our Facebook page for Donations or Contact: +91-9014185684
                </a>
            </marquee>
        </div>
    </div>
    <div class="d-block d-md-none">
        <app-mobile></app-mobile>
    </div>
</div>