<div class="basic-container text-center">
    <h3 class="heading">SPONSORS</h3><br>
    <div style="display:block; margin:auto">
        <marquee behavior="alternate" direction="left" height="100%" scrollamount="8" width="100%">
            <p class="marquee"> To Sponsor, Please Contact +91-9985557405 or +91-9908455547 </p>
        </marquee>
    </div><img style="width:95%" src="images/sponsors.jpg"><button type="button" value="Back"><a
             routerlink="/home" href="/home">Back to Home Page</a></button>
</div>